<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>smart_seo_schema</id>
	<version>2.0.0</version>
	<type>extension</type>
	<category>marketing</category>
	<cartversions>
		<item>1.2</item>
		<item>1.3</item>
	</cartversions>
	<priority>10</priority>
	<settings>
		<!-- Configuraciones básicas existentes -->
		<item id="smart_seo_schema_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="smart_seo_schema_show_image">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_review">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_sku">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_offer">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_availability">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_description">
			<type>selectbox</type>
			<variants>
				<item>auto</item>
				<item>description</item>
				<item>blurb</item>
			</variants>
			<default_value>auto</default_value>
		</item>

		<!-- Configuraciones Groq IA -->
		<item id="smart_seo_schema_groq_api_key">
			<type>password</type>
			<default_value></default_value>
		</item>
		<item id="smart_seo_schema_groq_model">
			<type>selectbox</type>
			<variants>
				<item>llama-3.1-8b-instant</item>
				<item>gemma2-9b-it</item>
				<item>llama-3.3-70b-versatile</item>
				<item>meta-llama/llama-guard-4-12b</item>
			</variants>
			<default_value>llama-3.1-8b-instant</default_value>
		</item>
		<item id="smart_seo_schema_ai_auto_generate">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>

		<!-- Configuraciones hasVariant[] -->
		<item id="smart_seo_schema_enable_variants">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>

		<!-- Configuraciones Esquemas Adicionales -->
		<item id="smart_seo_schema_enable_faq_schema">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="smart_seo_schema_enable_howto_schema">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="smart_seo_schema_enable_review_schema">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="smart_seo_schema_enable_organization">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>

		<!-- Configuraciones IA Avanzadas -->
		<item id="smart_seo_schema_ai_temperature">
			<type>input</type>
			<default_value>0.7</default_value>
		</item>
		<item id="smart_seo_schema_ai_max_tokens">
			<type>input</type>
			<default_value>200</default_value>
		</item>
		<item id="smart_seo_schema_ai_timeout">
			<type>input</type>
			<default_value>10</default_value>
		</item>

		<!-- Configuraciones FAQ específicas -->
		<item id="smart_seo_schema_faq_auto_generate">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_faq_count">
			<type>input</type>
			<default_value>3</default_value>
		</item>

		<!-- Configuraciones HowTo específicas -->
		<item id="smart_seo_schema_howto_auto_generate">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_howto_steps_count">
			<type>input</type>
			<default_value>5</default_value>
		</item>

		<!-- Configuraciones Review específicas -->
		<item id="smart_seo_schema_review_auto_generate">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_review_rating_min">
			<type>input</type>
			<default_value>4</default_value>
		</item>
		<item id="smart_seo_schema_review_rating_max">
			<type>input</type>
			<default_value>5</default_value>
		</item>

		<!-- Configuraciones Organization -->
		<item id="smart_seo_schema_org_logo_url">
			<type>input</type>
			<default_value></default_value>
		</item>
		<item id="smart_seo_schema_org_contact_type">
			<type>selectbox</type>
			<variants>
				<item>customer service</item>
				<item>technical support</item>
				<item>billing support</item>
				<item>sales</item>
			</variants>
			<default_value>customer service</default_value>
		</item>
		<item id="smart_seo_schema_org_phone">
			<type>input</type>
			<default_value></default_value>
		</item>

		<!-- Configuraciones Debug/Logging -->
		<item id="smart_seo_schema_debug_mode">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="smart_seo_schema_log_ai_calls">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
	</settings>
	<note>true</note>
	<help_link><![CDATA[https://developers.google.com/structured-data/rich-snippets/products]]></help_link>
</extension>