<?xml version="1.0" encoding="UTF-8"?>
<extension>
	<id>smart_seo_schema</id>
	<version>1.3.1</version>
	<type>extension</type>
	<category>marketing</category>
	<cartversions>
		<item>1.2</item>
		<item>1.3</item>
	</cartversions>
	<priority>10</priority>
	<settings>
		<item id="smart_seo_schema_status">
			<type>checkbox</type>
			<default_value>0</default_value>
		</item>
		<item id="smart_seo_schema_show_image">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_review">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_sku">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_offer">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_show_availability">
			<type>checkbox</type>
			<default_value>1</default_value>
		</item>
		<item id="smart_seo_schema_description">
			<type>selectbox</type>
			<variants>
				<item>auto</item>
				<item>description</item>
				<item>blurb</item>
			</variants>
			<default_value>auto</default_value>
		</item>
	</settings>
	<note>true</note>
	<help_link><![CDATA[https://developers.google.com/structured-data/rich-snippets/products]]></help_link>
</extension>
